[Unit]
Description=Install uEye drivers using their script on first startup
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ueye-drivers.sh

[Install]
WantedBy=multi-user.target
