[Unit]
Description=Install uEye drivers using their script on first startup
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ueye-drivers.sh

[Install]
WantedBy=basic.target
